.header {
    display: block;
    // grid-template-columns: 25% 50% 25%;
    // grid-template-rows: 80% auto;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding-bottom: 5vh;

    .logo {
        display: block;
        // grid-area: 21;
        height: 160px;
        width: auto;
        background-image: url(https://99designs-start-attachments.imgix.net/alchemy-pictures/2019%2F01%2F31%2F23%2F04%2F58%2Ff99d01d7-bf50-4b79-942f-605d6ed1fdce%2Fludibes.png?auto=format&ch=Width%2CDPR&w=250&h=250);
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (max-width: 780px) {
    .header {
        grid-template-columns: 85% auto;
    }
}