<h1>Add Video</h1>
<label for=""></label>

<form class="form" (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="name">
    <label for="name">Tittle</label>
    <input type="text" id="name" class="form__control form-control" ngModel name="name">
  </div>

  <div class="type">
    <label for="type">Type</label>
    <select ngModel name="type">
      <option value="youtube">Youtube</option>
      <option value="vimeo">Vimeo</option>
      <option value="facebook">Facebook</option>
      <option value="other">Other</option>
    </select>
  </div>
  <div class="page">
    <label for="page">Page</label>
    <select ngModel name="page">
      <option value="weddings" selected>Weddings</option>
      <option value="business">Business</option>
    </select>
  </div>
  <div class="URL">
    <label for="URL">URL</label>
    <input type="text" id="URL" class="form__control form-control" ngModel name="url">
  </div>
  <div class="description">
    <label for="pass">Description</label>
    <input type="textarea" id="description" class="form__control form-control" ngModel name="description">
  </div>

  <div class="submit">
    <button type="submit">Submit</button>
  </div>
</form>

