<div class="mobile-nav" (click)="onToggleMenu()"></div>

<ul class="links-nav" [ngClass]="{'toggleMenuStyle': toggleMenu === false}">
  <!--<i class="fa fa-bars icon" (click)="onToggleMenu()"></i>-->
  <!-- <li (click)="onToggleMenu()">TARGET</li> -->
  <li class="link" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"><a routerLink='/'>בית</a></li>
  <li class="link" routerLinkActive='active'><a routerLink='/business'>עסקים</a></li>
  <li class="link" routerLinkActive='active'><a routerLink='/weddings'>חתונות</a></li>
</ul>