<div class="mobile-nav" (click)="onToggleMenu()"></div>

<ul class="links-nav" [ngClass]="{'toggleMenuStyle': toggleMenu === false}">
  <!--<i class="fa fa-bars icon" (click)="onToggleMenu()"></i>-->
  <!-- <li (click)="onToggleMenu()">TARGET</li> -->
  <li class="link"><a routerLink='/' routerLinkActive='active'>בית</a></li>
  <li class="link"><a routerLink='/business' routerLinkActive='active'>עסקים</a></li>
  <li class="link"><a routerLink='/weddings' routerLinkActive='active'>חתונות</a></li>
</ul>