@import "~src/scss/variables";

.home {
    background-color: $color-home;
    span {
        display: block;
        text-align: center;
        margin: 15px;
        font-size: 2.2rem;
        font-weight: 600;
    }
}