// 450 height
// 800 width

.youtube-video_container{
    height: auto;
    // width: 800px;
    background-color: #F3F3F3;
    color: #76726F;

    box-shadow: 6px 6px 20px #b2b1b04d;
    // box-shadow: 3px 0 10px #b2b1b04d, -3px 0 10px #b2b1b04d;
}

