<div class="containeer add-video">
  <h1>הוספת סרטון</h1>
  <form class="form add-video__form" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="name">
      <label for="name">כותרת</label>
      <input type="text" id="name" class="form__control form-control" ngModel name="name">
    </div>

    <div class="add-video__form__type">
      <select ngModel name="type" class="form-control form-control-sm">
        <option value="youtube">Youtube</option>
        <option value="vimeo">Vimeo</option>
        <option value="facebook">Facebook</option>
        <option value="other">Other</option>
      </select>
      <label for="add-video__form__type">סוג</label>
    </div>
    <div class="add-video__form__page">
      <select ngModel name="page" class="form-control form-control-sm">
        <option value="weddings" selected>Weddings</option>
        <option value="business">Business</option>
      </select>
      <label for="add-video__form__page">עמוד</label>
    </div>
    <div class="URL">
      <label for="URL">כתובת מלאה</label>
      <input type="text" id="URL" class="form__control form-control" ngModel name="url">
    </div>
    <div class="description">
      <label for="pass">תיאור</label>
      <input type="textarea" id="description" class="form__control form-control" ngModel name="description">
    </div>

    <div class="submit">
      <button type="submit" class="btn btn-secondary">שלח</button>
    </div>
  </form>

</div>