<div class="container">
  <ul>
    <li *ngFor="let video of videosArray" class="video">
      <h2 class="video__tittle">{{ video.name }}</h2>
      <iframe class="video__player" [src]="sanitizer.bypassSecurityTrustResourceUrl(video.url)" width="640" height="360"
        frameborder="0" allowfullscreen allow="autoplay; encrypted-media"></iframe>
      <div class="video__description">{{ video.description }}</div>
      <div class="buttons">
        <button class="btn btn-primary" (click)="onEdit()">Edit</button><button class="btn btn-danger" (click)="onDelete(video.id)">Delete</button>
      </div>
    </li>
  </ul>
</div>