.nav {
    display: block;
    text-align: end;
    // grid-area: 2;
    // background-color: #f0e3db;
    
  

    .link {
        
        display: inline-block;
        // margin-left: 1.5rem;
        padding-left: 50px;
        padding-right: 50px;
        
        a {
            text-decoration: none;
            color: #76726F;
            font-size: 1.5rem;
        }
    }

    .links {
        
        padding-top: 3vh;
        text-align: center;
        
        
    }
    
  
    .active {
        background-color: #8C8885;
       
    }
    
    .active a {
         color: #FFF9F5 ;
        
        
    }

}



@media (max-width: 780px) {
    .links {
        display: none;
    }

}